@use "extends";

@font-face {
	font-family: 'Roboto';
	src:url('../fonts/Roboto-Regular.ttf') format('truetype')
}

body {
    height: 100vh;
    background-color: $color2;
    font-family: 'Roboto', cursive;
    @extend .flexCenter;

    main {
        @include box(30%,70%);
        position: relative;
        background-color: $color_main;
        overflow: hidden;
        transition: $transition;

        figure {
            @include box(100%,50%);
            transition: $transition;
            img {
                @include box(100%,100%);
                object-fit: cover;
            }
        }

        article {
            z-index: 10;
            padding:5%;
            position: relative;
            background-color: white;
            transition: $transition;

            #photos {
                @include box(20%,15%);
                color:white;
                font-weight: bold;
                font-size: 1.1vw;
                @extend .flexCenter;
                background-color: $color1;
                position: absolute;
                top:-13%;
                left:0;
            }

            h1 {
                font-size: 2.5vw;
                color:$color1;
            }
            p {
                transition: $transition;
                transform:translateY(500%);
            }
        }

        #date {
            position: absolute;
            top:3%;
            right: 3%;
            color:white;
            font-size: 1.1vw;
            background-color: $color1;
            border-radius: 50%;
            @include box(5vw);
            @extend .flexCenter;
            flex-direction: column;
        }

        #info {
            z-index: 15;
            width:100%;
            position: absolute;
            bottom:0;
            left:0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 2%;
            color:rgb(165, 165, 165);
        }
    }

    // ANIMATION //
    main:hover {
        box-shadow: 0px 0px 15px 5px #00000069;
        figure {
            filter:blur(1px) grayscale(110%);
            transform: scale(110%);
        }
    
        article {
            transform:translateY(-25%);
            p {
                transform: translateY(25%);
            }
        }
    }
}
